
body{
    margin: 0;
    padding: 0;
    background: url(a.jpg)no-repeat;
    background-size: cover;
}
.box{
    width: 1000px;
    background: rgb(250, 248, 248);
    padding: 10px;
    text-align: justify;
    margin: auto;
    margin-top: 5%;
    color: rgb(10, 10, 10);
    font-family: "century gothic, sans-serif";
}

.title h1{
    cursor: pointer;
    font-family: georgia;
    color: #080808;
    font-size: 30px;
}
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}